.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 998;
  animation: fadeIn 0.5s ease forwards;
}
.mobileMenu {
  position: fixed;
  top: 0;
    width: 90%;
  background: white;
  padding: 80px 28px 34px;
  z-index: 999;
  animation: slideIn 0.5s ease forwards;
}
.navMobile {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(-20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}