.scrollTopBtn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: hsla(0, 100%, 50%, 0.6);
  color: white;
  border: none;
  padding: 12px 16px;
  font-size: 20px;
   border-radius: 6px;
  cursor: pointer;
  z-index: 9999;
  opacity: 0.8;
  transition: background 0.3s ease;
}
.scrollTopBtn:hover {
   background: #ff0000;
}