.bg {
  background: url("/images/page-bg.png") no-repeat center/cover;
  padding: 132px 0 60px;
  color: white;
  background-attachment: fixed;
  height: 260px;
}
.title {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}
.galleryContent {
  padding: 40px 0 20px;
}
.galleryList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-inline: 16px;
}
.image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}
 
@media (min-width: 768px) {
  .bg {
    padding: 185px 0 60px;
    height: 350px;
  }
  .title {
    font-size: 50px;
  }
  .galleryContent {
    padding: 80px 0 30px;
  }
  .galleryList {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;
    padding-inline: 24px;
  }
  .galleryItem {
    flex: 0 1 calc((100% - 20px) / 2);
  }
  .image {
    height: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .bg {
    padding: 200px 0 60px;
    height: 450px;
  }
  .title {
    font-size: 70px;
  }
  .galleryContent {
    padding: 100px 0 40px;
  }
  .galleryItem {
    flex: 0 1 calc((100% - 40px) / 3);
  }
  .image {
    height: 350px;
  }
}
