.bg {
  background: url("/images/page-bg.png") no-repeat center/cover;
  padding: 132px 0 60px;
  color: white;
  background-attachment: fixed;
  height: 260px;
}
.title {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}
.pricingContent{}
.list{}
.card{
        border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 36px 24px 25px 24px;
}
.headerCard{}
.icon{}
.titleCard{}
.duration{}
.price{}
.billing{}
.features{

}
.featureItem{}
.checkIcon{}


@media (min-width: 768px) {
  .bg {
    padding: 185px 0 60px;
    height: 350px;
  }
  .title {
    font-size: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .bg {
    padding: 200px 0 60px;
    height: 450px;
  }
  .title {
    font-size: 70px;
  }
}
